@model ATP.Models.Favorite

@{
    ViewData["Title"] = "Favorite Players";
    string baseUrl = "https://www.atptour.com/";
}
<h1>@ViewData["Title"]</h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Favorite Rank</th>
            <th>Atp Rank</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Country</th>
            <th>Age</th>
            <th>Points</th>
            <th>Pic</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: players">
        <tr class="playerRow">
            <td class="modal-no-open">
            </td>
            <td>
                <span data-bind="text: atpRank"></span>
            </td>
            <td>
                <span data-bind="text: lastName"></span>
            </td>
            <td>
                <span data-bind="text: firstName"></span>
            </td>
            <td>
                <span data-bind="text: country"></span>
            </td>
            <td>
                <span data-bind="text: age"></span>
            </td>
            <td>
                <span data-bind="text: points"></span>
            </td>
            <td>
                <img style="width:50px;height:50px;" data-bind="attr:{src:'@baseUrl' + picUrl}" />
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        var model = @Html.Raw(Json.Serialize(Model));
        ko.applyBindings(new FavoriteVM(model));
    </script>
}
